<h2>Book Form</h2>
<a href="{{ booksUrl }}">&laquo; Go back to Books</a>
<!--TODO: Refactor to use jquery and ajax instead of an id of 0-->
<h3>{{ book.title }} - [Book ID: {{ book.id }}]</h3>
<form class="edit-book-form" action="{{ action }}?id={{ bookId|url_encode }}" method="post">
	<!--		TODO: Convert hidden inputs to ajax calls using jquery, or store the id in the session data-->
	<input type="hidden" name="book[id]" value="{{ book.id }}" />
	<div>
		<label for="current_price">Current Price:</label>
		<input type="number" step="any" min="0.0000" id="current_price" name="book[current_price]" value="{{ book.current_price }}" />
	</div>
	<div>
		<label for="qty_in_stock">Quantity In Stock:</label>
		<input type="number" step="1" id="qty_in_stock" name="book[qty_in_stock]" value="{{ book.qty_in_stock }}" />
	</div>
	<div>
		<label for="qty_on_order">Quantity On Order:</label>
		<input type="number" step="1" id="qty_on_order" name="book[qty_on_order]" value="{{ book.qty_on_order }}" />
	</div>
	<div>
		<label for="number_of_pages">Number Of Pages:</label>
		<input type="number" step="1" id="number_of_pages" name="book[number_of_pages]" value="{{ book.number_of_pages }}" />
	</div>
	<div>
		<label for="title">Title:</label>
		<input type="text" id="title" name="book[title]" value="{{ book.title }}" />
	</div>
	<div>
		<label for="tagline">Tagline:</label>
		<input type="text" id="tagline" name="book[tagline]" value="{{ book.tagline }}" />
	</div>
	<div>
		<label for="format">Format:</label>
		<select name="book[format]" id="format">
			<option value="Hardcover" {{ book.format == "Hardcover" ? "selected" }}>Hardcover</option>
			<option value="Softcover" {{ book.format == "Softcover" ? "selected" }}>Softcover</option>
		</select>
	</div>
	<!--		TODO: Add languages programmatically to the database and add a datalist to select the language. -->
	<div>
		<label for="language">Language:</label>
		<input type="text" id="language" name="book[language]" value="{{ book.language }}" />
	</div>
	<div>
		<label for="synopsis">Synopsis:</label>
		<textarea id="synopsis" name="book[synopsis]">{{ book.synopsis|trim }}</textarea>
	</div>
	<div>
		<label for="cover_image_url">Cover Image URL:</label>
		<input type="text" id="cover_image_url" name="book[cover_image_url]" value="{{ book.cover_image_url }}" />
	</div>
	<div class="radio-buttons">
		<label>Available:</label>
		<div>
			<label for="is_availableY">Yes</label>
			<input type="radio" id="is_availableY" name="book[is_available]" value="1" {{ book.is_available ? "checked" }} />
		</div>
		<div>
			<label for="is_availableN">No</label>
			<input type="radio" id="is_availableN" name="book[is_available]" value="0" {{ book.is_available == false ? "checked"  }} />
		</div>
	</div>
	<div class="book-checkboxes book-genre-checkboxes">
		<h3>Genres</h3>
		{% for g in genres %}
		{% set checked = g.id in book.genres ? "checked" %}
		<div>
			<label for="genre{{ g.id }}">{{ g.name }}</label>
			<input type="checkbox" id="genre{{ g.id }}" value="{{ g.id }}" name='book[genres][]' {{ checked }} />
			</div>
		{% endfor %}
	</div>
	<div class="book-checkboxes">
		<h3>Editions</h3>
		{% for e in editions %}
		{% set checked = e.id in book.editions ? "checked" %}
		<div>
			<label for="edition{{ e.id }}">{{ e.name }}</label>
			<input type="checkbox" id="edition{{ e.id }}" value="{{ e.id }}" name='book[editions][]' {{ checked }} />
		</div>
		{% endfor %}
	</div>
	<div class="book-checkboxes">
		<h3>Categories</h3>
		{% for c in categories %}
		{% set checked = c.id in book.categories ? "checked" %}
		<div>
			<label for="category{{ c.id }}">{{ c.name }}</label>
			<input type="checkbox" id="category{{ c.id }}" value="{{ c.id }}" name='book[categories][]' {{ checked }} />
		</div>
		{% endfor %}
	</div>
{#	<!--		TODO: Implement a way for the user to be able to select more than one author without using checkboxes (jquery)-->#}
	<div>
		<h3>Author</h3>
		<div>
			<label for="author">Select an author from the list</label>
			<select name="book[authors][]" id="author">
				<option value="none">No Author...</option>
				{% for a in authors %}
				{% set tag = a.id == author.id ? "selected disabled" : a.id in book.authors ? "disabled" %}
				<option value="{{ a.id }}" {{ tag }}>{{ a.first_name }} {{ a.last_name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div>
		<h3>Publisher</h3>
		<div>
			<label for="publisher">Select an author from the list</label>
			<select name="book[publishers][]" id="publisher">
				<option value="none">No Publisher...</option>
				{% for p in publishers %}
				{% set tag = p.id == publisher.id ? "selected disabled" : p.id in book.publishers ? "disabled" %}
				<option value="{{ p.id }}" {{ tag }}>{{ p.name }}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<div class="btn-container">
		<button type="submit" name="book_submit">Submit</button>
	</div>
</form>