<h2>Books</h2>
<p><a href="{{ staffUrl }}">&laquo; Go back to Staff home page</a></p>
<p><a href="{{ staffUrl }}book/index.php?id=0">Create a new book &raquo;</a></p>
<p>List of books</p>
<table>
	<thead>
	<tr>
		<th>&nbsp;</th>
		<th>ID</th>
		<th>Available</th>
		<th>Title</th>
		<th>Current Price</th>
		<th>Qty In Stock</th>
		<th>Qty On Order</th>
		<th>Pages</th>
		<th>Language</th>
		<th>Format</th>
		<th>&nbsp;</th>
		<th>&nbsp;</th>
	</tr>
	</thead>
	<tbody>
	{% for b in books %}
	{% set count = count + 1 %}
		<tr>
		<td>{{ count }}</td>
		<td>{{ b.id }}</td>
		<td>{{ b.is_available == true ? "Y" : "N" }}</td>
		<td>{{ b.title }}</td>
		<td>{{ b.current_price }}</td>
		<td>{{ b.qty_in_stock }}</td>
		<td>{{ b.qty_on_order }}</td>
		<td>{{ b.number_of_pages }}</td>
		<td>{{ b.language }}</td>
		<td>{{ b.format }}</td>
		<td><a href="{{ editUrl }}{{ b.id|url_encode }}">Edit</a></td>
		<td><a href=\"#\">Deactivate</a></td >
		</tr>
	{% endfor %}
	</tbody>
</table>
